.lb{
    font-size: 15px;
    color: #465363;
}
.ip{
    width: 450px;
    height: 40px;
    background-color: #edf2f5;
}
.tttk, .sp{
    color: #c5282f;
}
.bton{
    color: white;
    width: 80px;
    height: 40px;
    font-size: 17px;
    background-color: #c5282f;
}
.rd{
    width: 20px;
    height: 15px;
}
.ip:hover{
    border: 2px solid #c5282f;
}
